# Dependências
node_modules/
package-*

# Variáveis de ambiente
.env

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Arquivos de upload temporários
uploads/

# PocketBase
pb_schema.json
pb_data/
data/

# Desenvolvimento
.github/
AGENTS.md
